.git/
.github/
.venv/
.env
.coverage
.pytest_cache/
.ruff_cache/
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
tests/
docs/
coverage.xml
htmlcov/
.DS_Store
*.log
.idea/
.vscode/
sonar-project.properties
Makefile
docker-compose.yml
buf.yaml
buf.gen.yaml
postgres/
logs/
temp/
tmp/
