POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

NOTIFICATION_HTTP_HOST=0.0.0.0
NOTIFICATION_HTTP_PORT=8080
NOTIFICATION_GRPC_HOST=[::]
NOTIFICATION_GRPC_PORT=50051

# Can be a file path or a JSON string
FIREBASE_CREDENTIALS_JSON=""
