# Database Configuration
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# HTTP Server Configuration
NOTIFICATION_MSERVICE_HTTP_HOST=0.0.0.0
NOTIFICATION_MSERVICE_HTTP_PORT=8080

# gRPC Server Configuration
NOTIFICATION_MSERVICE_GRPC_HOST=[::]
NOTIFICATION_MSERVICE_GRPC_PORT=50051

# Firebase Cloud Messaging (can be a file path or a JSON string)
FIREBASE_CREDENTIALS_JSON=""
