# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
.env

# Build artifacts
dist/
build/
*.egg-info/

# Test artifacts
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/

# Other
.DS_Store
*.log
.ruff_cache/
